<md-dialog aria-label="Mango (Fruit)">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create new Shift</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-set="material-icons">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;" layout-padding layout="row">
      <section flex layout="column">
        
        <md-card layout="column" flex>
          <md-card-title>
            <md-card-title-text>
              <p class="md-subhead">Dayshifts</p>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            This is the content
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button">
              <md-icon md-font-set="material-icons">add</md-icon>
            </md-button>
          </md-card-actions>
        </md-card>
        
        <md-card layout="column" flex>
          <md-card-title>
            <md-card-title-text>
              <span class="md-subhead">Dayshifts</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            This is the content
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button">
              <md-icon md-font-set="material-icons">add</md-icon>
            </md-button>
          </md-card-actions>
        </md-card>
        
        <md-card layout="column" flex>
          <md-card-title>
            <md-card-title-text>
              <span class="md-subhead">Dayshifts</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            This is the content
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button">
              <md-icon md-font-set="material-icons">add</md-icon>
            </md-button>
          </md-card-actions>
        </md-card>
        
      </section>
      <section flex layout="row">
        <md-card layout="column" flex>
          <md-card-title>
            <md-card-title-text>
              <span class="md-subhead">Info / Commands</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content layout-align="center center">
            <p> Just another day... </p>
            <p> (55 days to Xmas) </p>
            <md-button>
              Message users
            </md-button>
            <md-button>
              Lock Shifts
            </md-button>
            <md-button>
              Clear all shifts
            </md-button>
          </md-card-content>
        </md-card>
        
        <md-card layout="column" flex>
          <md-card-title>
            <md-card-title-text>
              <span class="md-subhead">Related users</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            
          </md-card-content>
        </md-card>
      </section>
    </md-dialog-content>
  </form>
</md-dialog>